.about-wrapper{
    margin:auto;
    margin-top: 4em;
    padding: 0 2em;
    max-width: 720px;
}
.about-wrapper p{
    font-size: 1em;
    color: #fefefe;
    line-height: 2em;
}
.accordion {
  background-color: #161616;
  color: #efefef;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: .25s ease;
}

.active, .accordion:hover {
  background-color: #272727;
}

.accordion:after {
  content: '\002B';
  color: #efefef;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: #eb4034;
}
.panel {
  padding: 0 18px;
  background-color: #161616;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
