
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    padding:0;
    margin:0;
}
html{
    background-color: #191919;
}
p{
    font-weight: 300;
}
p,h2{
    margin-bottom:1em;
    color: #efefef;
}
h1{
    font-size: 26px;
    padding: .5em;
    color: #efefef;
    text-align: center;
    margin-bottom: 1em;
}

img{
    width:100%;
    height:auto;
    display: block;
}



@media(min-width:720px){
    h1{
        font-size: 45px;
        text-align: center;
    }
}

@media(min-width:960px){
    .grid-item{

    }
}


.hidden{
    opacity: 0;
}

.revealed{
    opacity:1;
    transition:0.3s ease-out opacity;
}
