
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:400,600,800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    text-decoration: none;
    list-style: none;
    padding:0;
    margin:0;
}
html{
    background-color: #efefef;
}
p,h2{
    margin-bottom:1em;
    color: #212121;
}
h1{
    font-size: 26px;
    padding: .5em;
    color: #efefef;
}

img{
    width:100%;
    height:auto;
    display: block;
    margin-bottom:1em;
}


@media(min-width:720px){
    h1{
        font-size: 45px;
        text-align: center;
    }
}

@media(min-width:960px){
    .grid-item{

    }
}
