footer{
    background-color: #263f2c;
    background-color: #18181a;
}
small{
    color: #efefef;
    font-weight: 300;
}

.footer-wrapper{
    padding: 1em;
    max-width:1400px;
    margin:auto;
    width:100%;
    min-height:12em;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo-wrapper-foot{
    width: 100px;
}
.logo-wrapper-foot > img{
    margin: 0;
}
.social-wrapper{
    font-size: 22px;
    color: white;

}
.social-wrapper > a{
    color: white;
    transition: .25s ease;
}
.social-wrapper > a:hover{
    color: #eb4034;
}
.maker{

}


@media(min-width:720px){

    .social-wrapper{
        font-size: 33px;

    }
}

@media(min-width:960px){

    .social-wrapper{
        font-size: 33px;

    }
}
