.grid{
    margin:-0.5em;
}


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 100%;
}

.grid-item {
  float: left;
  padding:0.5em;
}

.grid-item img {
  display: block;
  max-width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}



@media(min-width:720px){
    .grid-item,
    .grid-sizer{
        width:calc(100%/2);
    }

}

@media(min-width:960px){
    .grid-item,
    .grid-sizer{
        width:calc(100%/3);
    }
}


/*A bunch of other stuff*/

.contact-wrapper{
    margin: 4em 0 0 0;
    display: flex;
    flex-direction: column;
}
.contact-wrapper > p{
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 0;
}
.contact-wrapper > a{
    font-size: 22px;
    font-weight: 300;
    text-decoration: underline;
    color: black;

    transition: .25s ease;
}
.contact-wrapper > a:hover{
    color: #8c3788;
}
