.grid{
    margin:-0.5em;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 100%;
}

.grid-item {
  float: left;
  padding:0.5em;
  overflow:hidden;
}

.grid-content-wrapper:hover img{
    transform:scale(1.05);
    transition: ease-in-out 1s;
}

.grid-content-wrapper{
    overflow: hidden;
    cursor:pointer;

}

.grid-item img {
  display: block;
  max-width: 100%;
  transition: .2s ease-out transform;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

/*A bunch of other stuff*/

.wave-wrapper{
    margin-bottom: -30px;
    width: 100%;
    height:100%;
    margin-top:4em;
}
.wave-wrapper-top{
    margin-bottom: -15px;
    margin-top: -15px;
}

.wave-wrapper svg{
    width:100%;
    height:100%;
}

.contact-wrapper{
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    background-color: #263f2c;
    background-color: #7b7b7c;
    text-align: center;
    min-height:420px;
    height:40vh;
}
.contact-wrapper > p{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}
.email-wrapper > a{
    font-size: 18px;
    font-weight: 300;
    text-decoration: underline;
    color: white;

    transition: .25s ease;
}

@media(min-width:720px){
    .email-wrapper > a{
        font-size:24px;
    }
}
/*.emailButton{
    text-align: center;
    padding: 1em;
    border: solid 2px white;
    display: block;
    width: auto;
    margin-top: 2em;
}
.email-wrapper > a:hover{
    color: #eb4034;
}*/

/*.emailButton{
    background:#000;
    border-radius:2px;
    padding:1em 1.5em;
    color:#FFF;
    margin-top:1em;
    box-shadow:0 3px 5px -3px rgba(0,0,0,0.5), 0 2px 20px rgba(0,0,0,0.5);
}*/

.emailButton{
    background:none;
    border:solid #FFF 2px;
    border-radius:2px;
    padding:1em 1.5em;
    color:#FFF;
    margin-top:2em;
    font-weight: 500;
    position: relative;
    z-index: 1;
    transition:.2s ease-out all;
}

.emailButton::after{
    content:"";
    box-shadow:0 3px 5px -3px rgba(0,0,0,0.5), 0 5px 25px -5px rgba(0,0,0,0.5), 0 10px 15px -10px rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    border-radius: 2px;
    opacity: 0;
    transition: .2s ease-out opacity;
}

.emailButton::before{
    content:"";
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background:#000;
    transform:scaleY(0);
    transition:all .2s ease-out;
    z-index: -1;
    transform-origin: bottom;
}

.emailButton:hover{
    color:#FFF;
    transform:translateY(-5px);
    border:solid rgba(0,0,0,1) 2px;
}

.emailButton:hover::after{
    opacity:1;
}

.emailButton:hover::before {
    transform:scaleY(1);
}

.emailButton:active{
    transform:translateY(-2px);
}

@media(min-width:720px){
    .grid-item,
    .grid-sizer{
        width:calc(100%/2);
    }

}

@media(min-width:960px){
    .grid-item,
    .grid-sizer{
        width:calc(100%/3);
    }
    .contact-wrapper > p{
        font-size: 42px;
    }
    .wave-wrapper-top{
        margin-top: -160px;
    }

}
