header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    font-size: 24px;
    font-weight: 700;
    z-index: 1000;
    box-sizing: border-box;
}


.header-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width:100%;
    padding: .4em;
    background-color: #19191900;
    transition: .25s ease-in;
    /*-webkit-box-shadow: 0px 2px 4px -1px rgba(39,39,39,.7);
    -moz-box-shadow: 0px 2px 4px -1px rgba(39,39,39,.7);
    box-shadow: 0px 2px 4px -1px rgba(39,39,39,.7);*/
}

.header-wrapper.reveal{
    background-color: #191919;
    border-bottom: none;
    -webkit-box-shadow: 0px 2px 4px -1px rgba(25,25,25,.7);
    -moz-box-shadow: 0px 2px 4px -1px rgba(25,25,25,.7);
    box-shadow: 0px 2px 4px -1px rgba(25,25,25,.7);
}


.menu {
    display:flex;
}

.menu li{
    padding-right:2em;
}


.menu li:last-child{
    padding-right:0;
}

.menu a{
    color:#efefef;
    transition: 0.25s ease-in;
}

.menu a:hover{
    color: #eb4034;
}

.logo-wrapper{
    width: 1.7em;
}
.svg g{
  fill: #efefef;
  transition: 0.25s ease-in fill;
}
.svg:hover g{
  fill:#eb4034;
}
.svg.click g{
    fill: #000;
}
